#!/bin/sh

xrandr --dpi 192

# X resources
[ -e ~/.Xresources ] && xrdb -merge ~/.Xresources

# background
[ -e ~/.fehbg ] && ~/.fehbg

# Network Manager applet
>> /dev/null which nm-applet && nm-applet &

# Lock screen on suspend
xss-lock -- i3lock -n -e -c 000000 &

compton -b
